    html, body {
        position: relative;
        height: 100%;
    }
    body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #000 url(../images/config-bg.jpg) no-repeat center center;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .page2 ol , 
    .page3 ol , 
    .page4 ol ,
    .page5 ol ,
    .page6 ol ,
    .page8 ol ,
    .page7 ol {
        height: 100%;
        width: 90%;
        margin: 0 auto;
    }

    .page2 ol li, 
    .page3 ol li,
    .page4 ol li,
    .page5 ol li,
    .page6 ol li,
    .page8 ol li,
    .page7 ol li
    {
        text-align: left;
        height: 33%;
    }
    .page2 ol li img , 
    .page3 ol li img,
    .page4 ol li img,
    .page5 ol li img,
    .page6 ol li img,
    .page8 ol li img,
    .page7 ol li img
    {
        max-width: 100%;
        height: 100%;
    }
    /* 第二屏 */
    .page2 ol li{
         height:90%;
    }
    .page2 dl{
        text-align:left;
        padding-top: 30px;
    }
    .page2 dt{
        font-size: 40px;
        color: #94d7e4;
        font-weight: bold;
        padding:15px 0px 30px;
     }
    .page2 dd{
        font-size: 28px;
        color: #fff;
        padding-left:35px;
        line-height: 55px;
    }
    
    .page2.swiper-slide-active li dt {
           animation:bounceInLeft 3s ;
          -webkit-animation:bounceInLeft 3s ;
    }   
    .page2.swiper-slide-active li dd:nth-of-type(1){
           animation:bounceInLeft 4s ;
          -webkit-animation:bounceInLeft 4s ;
    }  
    .page2.swiper-slide-active li dd:nth-of-type(2){
           animation:bounceInLeft 5s ;
          -webkit-animation:bounceInLeft 5s ;
    }  
    .page2.swiper-slide-active li dd:nth-of-type(3){
           animation:bounceInLeft 6s ;
          -webkit-animation:bounceInLeft 6s ;
    } 
    /* 第三屏 */
    .page3 ol li{
         height:45%;
         text-align: center;
    }
    .page3 dl{
        text-align:left;
    }
    .page3 dt{
        font-size: 40px;
        color: #94d7e4;
        font-weight: bold;
        padding:15px 0px;
     }
    .page3 dd{
        font-size: 28px;
        color: #fff;
        padding-left:35px;
        line-height: 55px;
    }
    .page3 li img{
         max-width: 49.5%;
         height: 100%;
    }
  
    .page3.swiper-slide-active li:nth-child(2) img{
          animation:bounceInUp 4.5s;
          -webkit-animation:bounceInUp 4.5s;
    } 
   /* 第8屏 */
    .page8 ol li{
         height:35%;
    }
    .page8 dl{
        text-align:left;
    }
    .page8 dt{
        font-size: 40px;
        color: #94d7e4;
        font-weight: bold;
        padding:15px 0px;
     }
    .page8 dd{
        font-size: 28px;
        color: #fff;
        padding-left:35px;
        line-height: 55px;
    }
     .page8.swiper-slide-active li:nth-of-type(1) dt ,
     .page8.swiper-slide-active li:nth-of-type(2) dt

     {
           animation:bounceInLeft 3s ;
          -webkit-animation:bounceInLeft 3s ;
    }   
    .page8.swiper-slide-active li:nth-of-type(1) dd ,
     .page8.swiper-slide-active li:nth-of-type(2) dd

     {
           animation:bounceInLeft 5s ;
          -webkit-animation:bounceInLeft 5s ;
    } 

     /* 第四屏 */
    .page4 ol li:nth-child(1){
         height:40%;
    } 
    .page4 ol li:nth-child(2){
         height:55%;
    }
    .page4 dl{
        text-align:left;
    }
    .page4 dt{
        font-size: 40px;
        color: #94d7e4;
        font-weight: bold;
        padding:15px 0px;
     }
    .page4 dd{
        font-size: 28px;
        color: #fff;
        padding-left:35px;
        line-height: 55px;
    }
    .page4.swiper-slide-active li:nth-child(2) img{
          animation:bounceInUp 4.5s;
          -webkit-animation:bounceInUp 4.5s;
    } 

    /* 第五屏 */
    .page5 ol li:nth-child(1){
         height:40%;
    } 
    .page5 ol li:nth-child(2){
         height:55%;
    }
    .page5 dl{
        text-align:left;
    }
    .page5 dt{
        font-size: 40px;
        color: #94d7e4;
        font-weight: bold;
        padding:15px 0px;
     }
    .page5 dd{
        display: inline-block;
        width: 49.5%;
        font-size: 28px;
        color: #fff;
        line-height: 55px;
    }
    .page5 dd.last{
        text-align:right;
    }
    .page5 li img{
         max-width: 49.5%;
         height: 100%;
    }
    .page5 li img:nth-of-type(1){
      float:left;
    }
      .page5 li img:nth-of-type(2){
      float:right;
    }
    .page5.swiper-slide-active li:nth-child(2) img{
          animation:bounceInUp 4.5s;
          -webkit-animation:bounceInUp 4.5s;
    }
     /* 第六屏 */
    .page6{
        color: #fff;
        text-align: left;
    }
    .page6 li{
        margin-bottom: 35px;
    }
    .annotation{
        font-size: 28px;
        padding-top: 20px;
    }
    .annotation dd{
          padding-left: 25px;
    }
    .code{
        font-size: 18px;
        color: #95a3a6;
    }
    .code p{
        padding-left: 15px;
        line-height: 24px;
    }
     .code p.first{
        padding-left: 0px;
     }
    .page6.swiper-slide-active .annotation{
          animation:bounceInLeft 2s;
          -webkit-animation:bounceInLeft 2s ;
    } 
    .page6.swiper-slide-active .code p{
          animation:bounceInLeft 3.5s ;
          -webkit-animation:bounceInLeft 3.5s ;
    } 
     .page6.swiper-slide-active .code p:last-child{
          animation:fadeInDown 5s ;
          -webkit-animation:fadeInDown 5s ;
    } 

     /* 第七屏 */
     .page7 ol li{
        height: auto;
    }
     .page7 dl{
        text-align:left;
    }
    .page7 dt{
        font-size: 40px;
        color: #94d7e4;
        font-weight: bold;
        padding:15px 0px;
     }
    .page7 dd{
        font-size: 28px;
        color: #fff;
        line-height: 45px;
        padding-left: 50px;
    }
    .page7 dd.lPadding60{
         padding-left:75px;
    }

    .page7.swiper-slide-active li dt{
          animation:bounceInLeft 2s;
          -webkit-animation:bounceInLeft 2s ;
    } 
    .page7.swiper-slide-active li dd{
          animation:bounceInLeft 3.5s ;
          -webkit-animation:bounceInLeft 3.5s ;
    } 
    